*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

img{
    width: 150px;
}

#root div{
    margin: 5px;
    padding: 5px;
    border: 2px solid black;
    flex-direction: column;
    display: flex;
    align-items: center;
}